<alert ng-if="alert" type="{{alert.type}}">{{alert.message}}</alert>

<form class="form-horizontal" name="userForm" novalidate ng-submit="submitForm(userForm)" autocomplete="off">
    <div class="form-group" ng-class="{'has-error': submitted && userForm.username.$invalid}">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" name="username" ng-model="user.username" required>
            <p ng-show="submitted && userForm.username.$invalid" class="help-block">Username is required</p>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && userForm.email.$invalid}">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" ng-model="user.email" required>
            <p ng-show="submitted && userForm.email.$error.required" class="help-block">Email is required</p>
            <p ng-show="submitted && userForm.email.$error.email" class="help-block">Email is not valid</p>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && userForm.password.$invalid}">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" ng-model="user.password" required>
            <p ng-show="submitted && userForm.password.$invalid" class="help-block">Password is required</p>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && userForm.repeatpassword.$invalid}">
        <label for="repeat-password" class="col-sm-2 control-label">Repeat Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="repeat-password" name="repeatpassword" ng-model="repeatpassword" required equal="user.password">
            <p ng-show="submitted && userForm.repeatpassword.$error.required" class="help-block">Repeat password is required</p>
            <p ng-show="submitted && userForm.repeatpassword.$error.match" class="help-block">Password don't match</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Create</button>
        </div>
    </div>
</form>